* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
#app-wrapper {
    height: 100vh;
    overflow: hidden;
}

button {
    background-color: rgb(255, 255, 255);
    cursor: pointer;

    height: fit-content;
    width: 7vw;
    color: rgb(39, 41, 41);
    padding: 5px;
    border: 1px solid rgb(148, 148, 150);
    border-radius: 5px;
    font-size: 0.8em;
    font-family: sans-serif;
}
button:disabled {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: default;
}

.bubble {
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    margin: auto;

    animation-name: bubbleAnimation;
    animation-duration: 0.5s;
}

#app-wrapper header, #app-wrapper footer {
    background-color: rgb(231, 231, 231);
    height: 10%;
}
#app-wrapper header img {
    height: 100%;
    position: relative;
    left: 50%;
}

#app-wrapper .bubble-area {
    background-color: rgb(255, 255, 255);
    height: 80%;
}

#app-wrapper footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.score-container {
    height: 100%;
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.bubbles, .misses, .punctures {
    height: fit-content;
    width: 7vw;
    color: rgb(39, 41, 41);
    padding: 5px;
    border: 1px solid rgb(148, 148, 150);
    border-radius: 5px;
    font-size: 0.8em;
    font-family: sans-serif;
}
.bubbles, .misses, .punctures {
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: default;
}


.information-panel {
    width: 40vw;
    height: 40vh;
    background-color: rgba(221, 219, 219, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;

    animation-name: informationAnimation;
    animation-duration: 1.2s;
}

.centered-container {
    width: fit-content;
    height: fit-content;
    padding: 3rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.information {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

@keyframes informationAnimation {
    0% {
        transform: scale3D(0.3, 0.3, 0.3);
    }
    80% {
        transform: scale3D(1.1, 1.1, 1.1);
    }
    100% {
        transform: scale3D(1, 1, 1);
    }
}

@keyframes bubbleAnimation {
    0% {
        transform: scale3D(0.3, 0.3, 0.3);
    }
    100% {
        transform: scale3D(1, 1, 1);
    }
}